{% load static %}
<!DOCTYPE html>
<html>

<head>
        <title>TTS Jobs List</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
        <div id="form-container">
                <h2>Create New Job</h2>
                <form id="ttsForm">
                        <label for="job_name">Job Name:</label><br>
                        <input type="text" id="job_name" name="job_name" placeholder="Enter Job Name" required><br><br>

                        <label for="description">Description:</label><br>
                        <textarea id="description" name="description" rows="5" cols="40"
                                placeholder="Enter text to convert to speech" required></textarea><br><br>

                        <input type="submit" value="Create New Job">
                </form>
        </div>
        <div id="table-container">
                <h2>Job List</h2>
                <table>
                        <thead>
                                <tr>
                                        <th>SR.No</th>
                                        <th>Job Title</th>
                                        <th>Description</th>
                                        <th>Created Date</th>
                                        <th>File Location</th>
                                        <th>Download URL</th>
                                        <th>Status</th>
                                        <th><audio id="audio_preview" controls>Preview</audio></th>
                                        <th>Action</th>
                                </tr>
                        </thead>
                        <tbody id="jobsTableBody"></tbody>
                </table>
        </div>

        <script src="{% static 'tts.js' %}"></script>

        <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
        <script>
            eruda.init();
            </script>
</body>

</html>