{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
</head>

<body>
    <div class="title-bar">
        <div class="logo">SYVOX</div>
        <div class="user">Welcome, User</div>
    </div>

    <nav class="navbar">
        <a href="/">Dashboard</a>
        <a href="/STT/">STT</a>
        <a href="/TTS/">TTS</a>
    </nav>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Sr</th>
                    <th>Type</th>
                    <th>Job Name</th>
                    <th>Description</th>
                    <th>Created Date</th>
                    <th>File</th>
                    <th>Download</th>
                    <th>Status</th>
                    <th>Open</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="jobsTableBody">
                <tr>
                    <td colspan="10">Loading...</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="{% static 'dashboard.js' %}"></script>
</body>

</html>