:root {
    --blue-light: #0d1117;
    --blue-mid: #161b22;
    --blue-main: #1f6feb;
    --blue-dark: #0c2d61;
    --text-main: #c9d1d9;
    --white: #f0f6fc;
    --border-color: #30363d;
    --green-main: #2ea043;
    --green-hover: #238636;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--blue-light);
    color: var(--text-main);
    margin: 0;
}

.title-bar {
    background-color: var(--blue-dark);
    color: var(--white);
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar .logo {
    font-size: 24px;
    font-weight: 900;
    font-family: 'Courier New', monospace;
    color: var(--white);
    /*border: 2px solid var(--blue-main);
    border-radius: 50px;*/
    padding: 6px 12px;
    letter-spacing: 1px;
}

.title-bar .user {
    font-size: 14px;
    color: var(--text-main);
}

.navbar {
    background-color: var(--blue-mid);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}

.navbar a {
    color: var(--blue-main);
    flex: 1;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--blue-light);
    border-right: 1px solid var(--border-color);
}

.navbar a:last-child {
    border-right: none;
}

.navbar a:hover {
    background-color: var(--blue-main);
    color: var(--white);
}

.table-container {
    margin: 20px auto;
    max-width: 95%;
    background-color: var(--blue-light);
    border: 1px solid var(--blue-main);
    padding: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

table {
    width: 100%;
    border: 1px var(--blue-main);
    /*border-collapse: collapse;*/
    font-size: 14px;
    background-color: var(--blue-light);
    color: var(--text-main);
}

thead {
    background-color: var(--blue-mid);
    color: var(--white);
    font-weight: bold;
}

th,
td {
    padding: 10px;
    border: 1px solid var(--border-color);
    text-align: center;
}

tr:nth-child(even) {
    background-color: #161b22;
}

tr:hover {
    background-color: #21262d;
}

button {
    background-color: var(--green-main);
    color: white;
    border: none;
    padding: 6px 10px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    margin: 2px;
}

button:hover {
    background-color: var(--green-hover);
}

a {
    color: var(--blue-main);
}

a:hover {
    color: var(--white);
}